.center {
  text-align: center;
}

.builders {
  width: 116px;
  min-height: 400px;
  max-height: 400px;

  overflow-y: scroll;
  padding: 0px;
  margin: auto;

  text-align: center;
}
