<div class="p-grid">
  <div class="p-col-fixed builders">
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
  </div>
  <div class="p-col-fixed builders">
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
  </div>
  <div class="p-col-fixed builders">
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
  </div>
  <div class="p-col-fixed builders">
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
  </div>
  <div class="p-col-fixed builders">
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
  </div>
</div>