.cube {
  width:  10px;
  height: 10px;
  min-width:  10px;
  min-height: 10px;

  border: 1px solid rgba(0, 0, 0, 1);

  background-color: rgba(255, 255, 255, 0.2);

  text-align: center;
}