<div class="p-grid">
  <div class="p-col">
    Player 1:<br />
    Pontos: {{ pointsCulture }}/150<br />
    <p-progressBar [value]="pointsCulture"></p-progressBar><br />
    Cultura: {{ statusCulture }}/40
    <p-progressBar [value]="statusCulture"></p-progressBar><br />
  </div>
  <div class="p-col">
    Player 1:<br />
    Pontos: {{ pointsCulture }}/150<br />
    <p-progressBar [value]="pointsCulture"></p-progressBar><br />
    Cultura: {{ statusCulture }}/40
    <p-progressBar [value]="statusCulture"></p-progressBar><br />
  </div>
  <div class="p-col">
    Player 1:<br />
    Pontos: {{ pointsCulture }}/150<br />
    <p-progressBar [value]="pointsCulture"></p-progressBar><br />
    Cultura: {{ statusCulture }}/40
    <p-progressBar [value]="statusCulture"></p-progressBar><br />
  </div>
  <div class="p-col">
    Player 1:<br />
    Pontos: {{ pointsCulture }}/150<br />
    <p-progressBar [value]="pointsCulture"></p-progressBar><br />
    Cultura: {{ statusCulture }}/40
    <p-progressBar [value]="statusCulture"></p-progressBar><br />
  </div>
</div>