<p-accordion [styleClass]="'handplayercss'" >
    <p-accordionTab header="Mão do Jogador" >
      <div class="p-grid handplayer">
        <div class="p-col-12">
          <div class="era">
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
          </div>
        </div>
      </div>
    </p-accordionTab>
</p-accordion>