<div class="p-grid">
  <div class="p-col-12">
    <app-timeline></app-timeline>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-12">
    <app-menuplayers></app-menuplayers>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-3">

    <div class="p-grid">
      <div class="p-col-12">
        <app-deckhorizontal></app-deckhorizontal>
      </div>
      <div class="p-col-12">
        <app-deckhorizontal></app-deckhorizontal>
      </div>
      <div class="p-col-12">
        <app-deckhorizontal></app-deckhorizontal>
      </div>
    </div>

  </div>

  <div class="p-col-7">

    <div class="p-grid">
      <div class="p-col">
        
        <app-board></app-board>

      </div>
    </div>

    <div class="p-grid">
      <div class="p-col">
        
        <app-builders></app-builders>

      </div>
    </div>

  </div>

  <div class="p-col-2">

    <div class="p-grid">
      <div class="p-col-12">
        <app-deckhorizontal></app-deckhorizontal>
      </div>
      <div class="p-col-12">
        <app-deckhorizontal></app-deckhorizontal>
      </div>
      <div class="p-col-12">
        <app-deckhorizontal></app-deckhorizontal>
      </div>
    </div>

  </div>
</div>

<div class="p-grid">
  <div class="p-col-12">
    <app-countrystatus></app-countrystatus>
  </div>
</div>