<div class="p-grid">
  <div class="p-col-12">
    <app-timeline></app-timeline>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-12">
    <app-menuplayers></app-menuplayers>
  </div>
</div>

<div class="p-grid">
  <div class="p-col">
    1
  </div>
  <div class="p-col">

    <div class="p-grid">
      <div class="p-col">
        2
      </div>
    </div>

    <div class="p-grid">
      <div class="p-col">
        2
      </div>
    </div>

  </div>

  <div class="p-col">
    1
  </div>
</div>

<div class="p-grid">
  <div class="p-col-12">
    <app-countrystatus></app-countrystatus>
  </div>
</div>

<app-boardculture></app-boardculture>