<p-accordion [styleClass]="'cultura'">
    <p-accordionTab header="Cultura" >
      
       <app-boardculture></app-boardculture>

    </p-accordionTab>
</p-accordion>
<p-accordion [styleClass]="'tecnologia'">
    <p-accordionTab header="Tecnologia">

      <app-boardtecnology></app-boardtecnology>

    </p-accordionTab>
</p-accordion>
<p-accordion [styleClass]="'militar'">
    <p-accordionTab header="Militar">

      <app-boardmilitary></app-boardmilitary>
      
    </p-accordionTab>
</p-accordion>