<div class="p-grid menuplayers">
  <div class="p-col-12 ">
    <span class="space">
      <button pButton type="button" label="Player 1" class="ui-button-raised ui-button-secondary"></button>
    </span>
    <i class="pi pi-forward"></i>
    <span class="space">
      <button pButton icon="pi pi-star" type="button" label="Player 2" class="ui-button-raised ui-button-secondary"></button>
    </span>
    <i class="pi pi-forward"></i>
    <span class="space">
      <button pButton type="button" label="Player 3" class="ui-button-raised ui-button-secondary"></button>
    </span>
    <i class="pi pi-forward"></i>
    <span class="space">
      <button pButton type="button" label="Player 4" class="ui-button-raised ui-button-secondary"></button>
    </span>
  </div>
</div>